*,html{ box-sizing: border-box; }
.bg-navbar{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif !important;
    font-size: larger;background: rgb(13, 167, 159);
}
.bg-navbar .text-brand{
    color:rgba(11, 11, 44, 0.993);
     padding:10px;
}
.bg-navbar .nav-item{
    color:rgba(11, 11, 44, 0.424)!important;
}

p{margin:0;} 
.bg-navbar .bg-nav{
  border-radius: 10px;
  padding:5px;
}
.bg-none{background: none; border: none;}

.bg-navbar .nav-item:hover{
    background: rgb(112, 111, 27);
  }
.mt-body{ margin-top:42.1px !important; }
  .body-img{
     /* background-image: url(./pic/pexels-ave-calvar-martinez-4279015.jpg); */
      position: relative;
      top:38.4px;
  }
  .text-big{
      font-size:1.1rem;
  }
  .btn-gray{
      background-color: rgb(8, 43, 107);
  }

  .top-img{ height:60vh;background-image:url(./pic/lib_1.jpg);
    background-repeat: repeat-x;background-size:auto;background-attachment: fixed; }

.bg-jumbtron{
    background-color: rgba(226, 229, 229, 0.966) !important;
    border-radius: none !important;
   opacity:0.9;
}
.bg-start{
    background: rgb(209, 209, 209);
}
.bg-start-new{
    background: rgba(199, 187, 187, 0.979);
}
.border-custom{
    border: 1px solid gray;
    border-left: 8px solid rgb(209, 142, 18) !important;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
}
.footer{
    /*height:50vh; */
    color: rgb(207, 214, 207) !important;
} 
.bg-footer{
    background: rgba(7, 54, 54, 0.781);
}
.about-bg{
    color:rgb(218, 228, 177);
    
    /*height:90vh; */
    background-image: url(../src/pic/pexels-ave-calvar-martinez-4279015.jpg);
    background-size:contain;
    background-attachment: fixed;
    
}
.custom-color{
    font-size: 25px !important;
}
.bg-new{
    background-color: rgb(240, 216, 81) !important;
    padding:2px !important;
}
.card{
    background:rgb(0, 0, 0);
    opacity: 0.6;
}
.card-header{
    color: rgb(245, 178, 9) !important;
    font-size: 19px;
}
.card-text{
    color: white !important;
    font-weight:550;
}
.text-logo{ color: teal; }
.bg-logo{ background-color: rgb(233, 245, 245);opacity:0.25; }
/*.height-100{ height:90vh; }*/
.alert-success{ background: rgb(225, 238, 238) !important; }

.card-custom{ opacity:0.6;background: rgba(78, 82, 81, 0.979) !important ; }
.card-custom .card-text{ color: rgb(255, 255, 255) !important; }
.bg-developer{
    background-image: url(../src/pic/pexels-ave-calvar-martinez-4279015.jpg);
    background-size:contain;
    background-attachment: fixed;
}
.color-dev{
    color: wheat !important;
    font-weight:bold;
    font-size: 21px;
}
.opacity{ opacity:2;background-color:rgba(163, 163, 157, 0.089) ; }
.bg-input{
    background-color: rgb(226, 241, 237);
    color: rgb(9, 15, 1);
}
.dropdown-pointer{
    cursor: pointer !important;
}
.bg-table{
    background:rgba(109, 165, 153, 0.664);
}
tr:hover{
background-color:rgba(139, 192, 180, 0.308) !important;
}

.bg-color{
    background: rgb(213, 218, 218);
    padding-right:0px !important;
    padding-left:0px !important;
}
.bg-color-1{
    background: rgb(162, 167, 167);
}
.box{
    border-left: 6px solid rgb(230, 67, 39);
    border-top-right-radius:4px;
    border-bottom-right-radius:4px;
    border-top-left-radius:4px;
    border-bottom-left-radius:4px;
    border-right: 1px solid rgb(114, 113, 113);
    border-top:1px solid rgba(134, 131, 131, 0.753);
    border-bottom:1px solid rgba(170, 167, 167, 0.794);
    box-shadow: 3px 3px 5px 4px rgb(61, 61, 61);
}
.text-color{
    color: rgb(7, 66, 66);
}
.bg-pc{
    background-color: rgba(238, 238, 238, 0.801);
   background-attachment: fixed;
}

.text-dark{
    color: rgb(7, 7, 68);
}
.head{
    background: rgb(226, 250, 249)!important;
}
.head-1{
    background: rgba(176, 212, 212, 0.452)!important;
    border-bottom-left-radius:38%;
    border-bottom-right-radius:38%;
}
.badge-bg{
    background-color:tomato;
}
.bg-line{
    background-color: rgb(165, 163, 163);
}
.p-line{
    padding:3px;
    border-radius: 3px;
}
.w{
    width:20% !important; 
}
.w-2{ width: 10% !important; }
.height-100{
    height:62vh;
}
.font-f{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.w-15{
width:16%;
}
.w-16 {
    width: 17.2%;
}
.w-0{
    width:27.2% !important; 
}
.bg-orange{
    background: rgba(144, 142, 139, 0.123);
}
.height-half {
    /*height:60% !important;*/
    background: rgba(173, 171, 171, 0.705) !important;
    box-shadow: 8px 8px 6px 5px rgb(110, 110, 107);
}
.bg-darker{
    background: rgba(235, 229, 229, 0.705) !important;
}